* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}

.container {
  max-width: 60rem;
  margin-inline: auto;
}

.grid {
  margin-top: 4rem;

  display: grid;
  justify-content: center;

  grid-template-columns: repeat(10, 30px);
}

.cell {
  display: grid;
  place-content: center;
  background-color: antiquewhite;
  width: 30px;
  height: 30px;
}
.cell:nth-child(even) {
  background-color: bisque;
}

.cell.banana {
  border: 2px solid red;
}
.cell span {
  pointer-events: none;
}

.cell.marked {
  background-color: chocolate;
}

.cell.revealed {
  background-color: cadetblue;
}

.cell.mine {
  background-color: red;
}

.status-bar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;
}

.status-bar > div {
  background-color: grey;
  padding: 0.5rem 1rem;
}

.grid[data-cols='18'] {
  grid-template-columns: repeat(18, 30px);
}
.grid[data-cols='24'] {
  grid-template-columns: repeat(24, 30px);
}
