* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}

.container {
  max-width: 60rem;
  margin-inline: auto;
}

.header {
  text-align: center;
}

.status-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  max-width: 30rem;
  margin-inline: auto;
}

.grid {
  margin-top: 4rem;

  display: grid;
  justify-content: center;

  grid-template-columns: repeat(10, 30px);
}

.cell {
  display: grid;
  place-content: center;
  background-color: antiquewhite;
  font-weight: bold;
  width: 30px;
  height: 30px;
}

.cell.fill {
  background-color: bisque;
}

.cell.banana {
  border: 2px solid red;
}
.cell span {
  font-weight: bold;
  pointer-events: none;
}

.cell.revealed {
  background-color: cadetblue;
}
.cell.revealed.fill {
  background-color: rgb(91, 149, 151);
}

.cell.mine {
  background-color: red;
}

.status-bar > div {
  background-color: burlywood;
  padding: 0.5rem 1rem;
}

.grid[data-cols='18'] {
  grid-template-columns: repeat(18, 30px);
}
.grid[data-cols='24'] {
  grid-template-columns: repeat(24, 30px);
}

.cell[data-number]::before {
  content: attr(data-number);
}
.cell[data-marked]::before {
  content: '\01F34C';
}

.cell[data-number='1'] {
  color: blue;
}
.cell[data-number='2'] {
  color: green;
}
.cell[data-number='3'] {
  color: orange;
}
.cell[data-number='4'] {
  color: purple;
}
.cell[data-number='5'] {
  color: maroon;
}
.cell[data-number='6'] {
  color: turquoise;
}
.cell[data-number='7'] {
  color: black;
}
.cell[data-number='8'] {
  color: grey;
}
